{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  border: 1px solid black;
  visibility: hidden;
  width: 400px;
  background-color: white;
  color: black;
  text-align: center;
  border-color: black;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.itemtooltip {
  position: relative;
  display: inline-block;
   /* If you want dots under the hoverable text */
}

/* Tooltip text */
.itemtooltip .tooltiptext {
  border: 1px solid black;
  visibility: hidden;
  width: 400px;
  background-color: white;
  color: black;
  text-align: center;
  border-color: black;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.itemtooltip:hover .tooltiptext {
  visibility: visible;
}

.header{
    height: 40px;
    background-color: white;
    border-bottom: #9a1b23 solid 3px;
    font-size: 24px;
    color: green;
}

.company-details{
   background-color: #FFFFFF;
   border-style: solid;
   /*height: 400px;*/
   border-color: #606060;
   border-width: thin;
   border-radius: 5px;
   padding: 5px;
}

.company-details table{
    border-collapse: collapse;
    border-spacing: 15px;
    text-align: center;
    border-color: transparent;
}

.company-details th{
    border: 1px solid #ddd;
    padding: 8px;
    background-color:#282828;
     color:#F5F5F5;
}


.subject-line{
     height: 25px;
     background-color: white;
     border-bottom: #9a1b23 solid 3px;
     font-size: 20px;
     color: #1e1e1e;
     font-weight: bold;
}
.year-selection{
    background-color: #1e1e1e;
    color:white;
    font-size:17px;
}
.year-selection:hover{
    color: lightgray;
}
.financial-details{
    margin-top: 5px;
   background-color: #FFFFFF;
   border-style: solid;
   /*height: 400px;*/
   border-color: #606060;
   border-width: thin;
   border-radius: 5px;
   padding: 5px;
}

.score{
          text-align: left;
          background-color: white;
          position: absolute;
          font-size: 18px;
          right: 30px;
          width: 300px;
          height: 30px;
          border: 2px solid #9a1b23;
          padding: 2px;
          font-weight: bold;
}
.analysisholder{
    border-style: solid;
   /*height: 400px;*/
   border-color: #606060;
   border-width: thin;
   border-radius: 5px;
   padding: 5px;
}
.analyzedbad{
    color: red;
    padding: 5px;
    font-weight: 900;
}

.analyzedverygood{
    color: #013220;
    padding: 5px;
    font-weight: 900;
}
.analyzedgood{
    color: green;
    padding: 5px;
}

.analyzedneutral{
    color: blue;
    padding: 5px;
}
.balancesheet{

}

.tableholder{
   border-style: solid;
   /*height: 400px;*/
   border-color: #606060;
   border-width: thin;
   border-radius: 5px;
   padding: 5px;
}
.tableholder table{
    border-collapse: collapse;
    border-color: #606060;
}
.tableholder th{
    background-color: #282828;
    color:#F5F5F5;
}
.tableholder th,td{

    padding: 10px 5px;
    text-align: left;
    border-bottom: 1px;

}
.profitandloss{
}

.yearlyreport{
}

.quarterlyreport{
}

.ratios{
}

.targetPrice{
}

.financial-items{
    background-color: lightgray; /* Blue background */
    color: #1e1e1e;
}

.instant-review{
   margin-top: 5px;
   background-color: #FFFFFF;
   border-style: solid;
   /*height: 400px;*/
   border-color: #606060;
   border-width: thin;
   border-radius: 5px;
   padding: 5px;
}
.reivew-header{
background-color: #1e1e1e;
font-size: 22px; /* Set a font size */
   border: none; /* Remove borders */
   color: white; /* White text */
   display: block;
   padding: 14px 20px;

   font-width: bold;
}

.footer{
display: flex;
align-items: center;
justify-content: center;
}

.report-generate{
   background-color: #1e1e1e;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

 .report-generate span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }

 .report-generate span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }

 .report-generate:hover span {
   padding-right: 25px;
 }

 .report-generate:hover span:after {
   opacity: 1;
   right: 0;
   color: lightgray;
 }